<!-- Страница со спектаклями -->
<!-- Подключение шаблона-фундамента для страницы -->
{% extends 'base.html' %}
{% block title %}
Театральные постановки
{% endblock %}
{% block content %}
<!-- Формирование таблицы со спектаклями -->
<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-7">
      <h2>Список спектаклей нашего театра</h2>
      <p>Именно с ними наш театр играет постановки</p>
      <br>
      <table id="data" class="table table-hover table-bordered table-info table-striped">
         <thead>
            <tr>
               <th scope="col">Название спектакля</th>
               <th scope="col">Год постановки</th>
               <th scope="col">Количество актов</th>
               <th scope="col">Название жанра</th>
               <th scope="col">Описание</th>
               <th scope="col">ФИО автора</th>
               <th scope="col">Дата рождения автора</th>
            </tr>
         </thead>
         <tbody>
            {% for play in plays %}
            <tr>
               <td>{{ play.name_play }}</td>
               <td>{{ play.stage_year }}</td>
               <td>{{ play.acts_number }}</td>
               <td>{{ play.genre_name }}</td>
               <td>{{ play.discription }}</td>
               <td>{{ play.author_fio }}</td>
               <td>{{ play.author_birthday_year }}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
   <!-- Оформление блока для действий со спектаклями -->
   <div class="col-3">
      <h2>Действия со спекталями</h2>
      <br>
      <table class="table table-striped">
         <tbody>
            <tr>
               <td>
                  <form method="POST" class="form" action="{{url_for('route_play_info.play_info')}}">
                     {{ add_play_form.hidden_tag() }}
      
                     {{ add_play_form.name_play.label(class="form-control-label text-light") }}
                     {{ add_play_form.name_play(class="form-control form-control-sm") }}
      
                     {{ add_play_form.stage_year.label(class="form-control-label text-light") }}
                     {{ add_play_form.stage_year(class="form-control form-control-sm") }}
      
                     {{ add_play_form.acts_number.label(class="form-control-label text-light") }}
                     {{ add_play_form.acts_number(class="form-control form-control-sm") }}
      
                     {{ add_play_form.discription.label(class="form-control-label text-light") }}
                     {{ add_play_form.discription(class="form-control form-control-sm") }}
      
                     {{ add_play_form.genre_name.label(class="form-control-label text-light") }}
                     {{ add_play_form.genre_name(class="form-control form-control-sm") }}
      
                     {{ add_play_form.author_fio.label(class="form-control-label text-light") }}
                     {{ add_play_form.author_fio(class="form-control form-control-sm", onchange="submit()") }}

                     {{ add_play_form.author_birthday.label(class="form-control-label text-light") }}
                     {{ add_play_form.author_birthday(class="form-control form-control-sm") }}
      
                     <br>
                     {{ add_play_form.submit_add_play(class="btn btn-success") }}
                  </form>
                  <br>
                  <form class="form" action="{{url_for('route_play_info.play_info')}}" method="POST">
                     {{change_play_form.hidden_tag()}}
                     <p>
                        {{change_play_form.name_play.label(class="form-control-label text-light")}}
                        {{change_play_form.name_play(class="form-control form-control-sm", onchange="submit()")}}
                     </p>
                     <p>
                        {{change_play_form.stage_year.label(class="form-control-label text-light")}}
                        {{change_play_form.stage_year(class="form-control form-control-sm")}}
                     </p>
                     <p>{{change_play_form.submit_del_play(class="btn btn-danger")}}</p>
                  </form>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
{% endblock %}

{% block scripts %}
<script>
   $(document).ready(function () {
      $("#data").DataTable(
         {
            columns: [
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true }
            ],
            language: {
               "processing": "Подождите...",
               "search": "Поиск:",
               "lengthMenu": "Показать _MENU_ записей",
               "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
               "infoEmpty": "Записи с 0 до 0 из 0 записей",
               "infoFiltered": "(отфильтровано из _MAX_ записей)",
               "infoPostFix": "",
               "loadingRecords": "Загрузка записей...",
               "zeroRecords": "Записи отсутствуют.",
               "emptyTable": "В таблице отсутствуют данные",
               "paginate": {
                  "first": "Первая",
                  "previous": "Предыдущая",
                  "next": "Следующая",
                  "last": "Последняя"
               },
               "aria": {
                  "sortAscending": ": активировать для сортировки столбца по возрастанию",
                  "sortDescending": ": активировать для сортировки столбца по убыванию"
               }
            }
         });
   });
</script>
{% endblock %}