<!-- Страница с расписанием -->
<!-- Подключение шаблона-фундамента для страницы -->
{% extends 'base.html' %}
{% block title %}
Расписание актёров и спектаклей
{% endblock %}
<!-- Оформление информационного блока -->
{% block content %}
<!-- Формирование таблицы с сеансами театра -->
<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-8">
      <h2>Расписание сеансов</h2>
      <br>
      <table id="data" class="table table-hover table-bordered table-info table-striped">
         <thead>
            <tr>
               <th scope="col">Название спектакля</th>
               <th scope="col">Год постановки</th>
               <th scope="col">Тип</th>
               <th scope="col">Дата и время</th>
               <th scope="col">Номер зала</th>
            </tr>
         </thead>
         <tbody>
            {% for info in schedule %}
            <tr>
               <td>{{ info.name_play }}</td>
               <td>{{ info.stage_year }}</td>
               <td>{{ info.type_play }}</td>
               <td>{{ info.date_and_time }}</td>
               <td>{{ info.hall_number }}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
   <!-- Оформление блока для действий с сеансами -->
   {% if session['role'] == 7 %}
   <div class="col-3">
      <h2>Действия с сеансами</h2>
      <br>
      <table class="table table-striped">
         <tbody>
            <tr>
               <th>
                  <form method="POST" action="{{url_for('route_schedule_session.schedule_session')}}" class="form">
                     {{ add_session_form.hidden_tag() }}

                     <p>
                        {{ add_session_form.name_session.label(class="form-control-label text-light") }}
                        {{ add_session_form.name_session(class="form-control form-control-sm", onchange="submit()") }}
                     </p>

                     <p>
                        {{ add_session_form.stage_year_session.label(class="form-control-label text-light") }}
                        {{ add_session_form.stage_year_session(class="form-control form-control-sm") }}
                     </p>

                     <p>
                        {{ add_session_form.type_session.label(class="form-control-label text-light") }}
                        {{ add_session_form.type_session(class="form-control form-control-sm") }}
                     </p>

                     <p>
                        {{ add_session_form.date_time_session.label(class="form-control-label text-light") }}
                        {{ add_session_form.date_time_session(class="form-control form-control-sm", placeholder="2020-12-01 20:00:00") }}
                     </p>

                     <p>
                        {{ add_session_form.hall_number.label(class="form-control-label text-light") }}
                        {{ add_session_form.hall_number(class="form-control form-control-sm") }}
                     </p>

                     <br>
                     <p>{{ add_session_form.submit_add_play(class="btn btn-success") }}</p>
                     <br>
                  </form>
                  <br>
                  <form class="form" action="{{url_for('route_schedule_session.schedule_session')}}" method="POST">
                     {{session_form.hidden_tag()}}
                     <p>
                        {{session_form.session_name.label(class="form-control-label text-light")}}
                        {{session_form.session_name(class="form-control form-control-sm", onchange="submit()")}}
                     <p>
                        {{session_form.stage_year.label(class="form-control-label text-light")}}
                        {{session_form.stage_year(class="form-control form-control-sm", onchange="submit()")}}
                     </p>
                     <p>
                        {{session_form.date_time_session.label(class="form-control-label text-light")}}
                        {{session_form.date_time_session(class="form-control form-control-sm")}}
                     </p>
                     <p>
                        {{session_form.hall_number.label(class="form-control-label text-light")}}
                        {{session_form.hall_number(class="form-control form-control-sm")}}
                     </p>
                     <p>{{session_form.submit_del_ses(class="btn btn-danger")}}</p>
                  </form>
               </th>
            </tr>
         </tbody>
      </table>
   </div>
   {% endif %}
</div>
{% endblock %}
<!-- Скрипт для динамической таблицы: фильтрация, сортировка-->
{% block scripts %}
<script>
   $(document).ready(function () {
      $("#data").DataTable(
         {
            columns: [
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true },
               { orderable: true, searchable: true }
            ],
            language: {
               "processing": "Подождите...",
               "search": "Поиск:",
               "lengthMenu": "Показать _MENU_ записей",
               "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
               "infoEmpty": "Записи с 0 до 0 из 0 записей",
               "infoFiltered": "(отфильтровано из _MAX_ записей)",
               "infoPostFix": "",
               "loadingRecords": "Загрузка записей...",
               "zeroRecords": "Записи отсутствуют.",
               "emptyTable": "В таблице отсутствуют данные",
               "paginate": {
                  "first": "Первая",
                  "previous": "Предыдущая",
                  "next": "Следующая",
                  "last": "Последняя"
               },
               "aria": {
                  "sortAscending": ": активировать для сортировки столбца по возрастанию",
                  "sortDescending": ": активировать для сортировки столбца по убыванию"
               }
            }
         });
   });
</script>
{% endblock %}